body {
  &.prisjakt_feed_edit_feed {
    .autocomplete {
      background: white;
      z-index: 1000;
      overflow: auto;
      box-sizing: border-box;
      border: 1px solid rgba(50, 50, 50, 0.6);

      > div {
        padding: 0 4px;
      }

      > div.selected {
        background: #81ca91;
        cursor: pointer;
      }
    }
  }
}
